@charset "utf-8";

.sub_wrap {
  padding: 120px 0 140px;
  box-sizing: border-box;
}

.genre {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 0 50px;
}

/* genre_list */
.genre .genre_list {
  position: relative;
  left: 0;
  top: 20px;
  z-index: 10;
  padding-bottom: 20px;
}

.genre .genre_list h3 {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  background: #c9ab81;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  box-sizing: border-box;
}

.genre_list ul {
  position: sticky;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.genre_list ul > li a span {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 68px;
  border-top: 1px solid #ddd;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  box-sizing: border-box;
}

.genre_list ul > li a span strong {
  color: #888;
  font-weight: 400;
  margin-left: 10px;
}

.genre_list ul > li:first-child > a span {
  border: none;
}

.genre_list ul > li:first-child span {
  color: #c9ab81;
}

.genre_list ul > li:hover span,
.genre_list ul > li:hover span strong {
  color: #c9ab81;
}

.genre_list ul > li:first-child a:after {
  display: none;
}


/* sub_title */
.sub_genre_cont {
  padding: 0 0 150px 120px;
  padding-left: 120px;
  max-width: 1230px;
  width: calc(100% - 380px);
  box-sizing: border-box;
}

.sub_genre_cont h2 {
  font-size: 42px;
  color: #333;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
  padding-top: 115px;
}

.sub_genre_cont p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  font-family: 'Noto-sans KR';
  font-weight: 400;
}

.sub_genre_cont p strong {
  font-weight: 500;
  color: #c9ab81;
}


/* sub_genre_cont */
.sub_genre_cont img {
  width: 350px;
  height: 350px;
}

.sub_genre_cont ul {
  display: flex;
  flex-wrap: wrap;
}

.sub_genre_cont ul > li {
  position: relative;
  margin-top: 50px;
}

.sub_genre_cont ul > li:nth-child(n+1) {
  margin-right: 30px;
  overflow: hidden;
}

.sub_genre_cont ul > li:nth-child(3n) {
  margin-right: 0;
}

.sub_genre_cont ul > li h3 {
  max-width: 100%;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 20px;
  overflow: hidden;
}

.sub_genre_cont ul > li span {
  display: block;
  line-height: 20px;
  color: #c9ab81;
  font-weight: 500;
  margin-bottom: 10px;
}

.sub_genre_cont ul > li p {
  color: #888;
  line-height: 20px;
  font-family: 'Noto-sans KR';

}

.sub_genre_cont ul > li price {
  display: block;
  font-family: 'EB Garamond';
  font-size: 26px;
  font-weight: 500;
  color: #333;
  line-height: 30px;
  padding-top: 28px;
}

.sub_genre_cont ul > li price > b {
  font-family: 'Noto Serif KR';
  font-size: 16px;
  font-weight: 500;
}


/* best_hide */
.sub_genre_cont .img_box .best_hide {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: -100%;
  bottom: 10px;
  right: 10px;
  width: 270px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  transition: all 0.7s;
}

/* hover 시 숨겨진 요소 표시 */
.sub_genre_cont ul > li .img_box:hover .best_hide {
  opacity: 1;
  left: 10px;
}

.sub_genre_cont .img_box {
  position: relative;
  overflow: hidden;
}

.sub_genre_cont .best_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
}

.sub_genre_cont .best_hide .best_btn .btn_sight,
.sub_genre_cont .best_hide .best_btn .btn_like {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.sub_genre_cont .img_box .best_btn {
  display: flex;
}

.sub_genre_cont .img_box .best_btn a {
  position: relative;
  margin: 0 5px;
}

.sub_genre_cont .img_box .best_btn a::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #aaa;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.sub_genre_cont .img_box .best_btn a:last-child::after {
  display: none;
}

.sub_genre_cont .img_box .best_btn a:last-child {
  margin-left: 30px;
}

.sub_genre_cont .best_hide .best_btn .btn_sight {
  background-image: url(../img/ico_sight.png);
}

.sub_genre_cont .best_hide .best_btn .btn_like {
  background-image: url(../img/ico_like.png);
}

.sub_genre_cont .best_hide .best_btn .btn_like:hover {
  background-image: url(../img/ico_like_on.png);
}

.sub_genre_cont .best_hide .best_btn .btn_sight:hover {
  background-image: url(../img/ico_sight_on.png);
}