@charset "utf-8";
@import url(fonts.css);

.sub_wrap {
    padding: 120px 0 140px;
    box-sizing: border-box;
}

.login_wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
    font-family: 'Noto-sans KR';
}

.left_login,
.right_login {
    width: 580px;
}

/* left_login 영역 */
.login_wrap .left_login {
    flex: 1;
    padding-right: 60px;
    width: 580px;
}

.login_wrap .left_login ul {
    display: flex;
    margin-bottom: 30px;
}

.login_wrap .left_login ul > li a {
    display: block;
    position: relative;
    font-size: 20px;
    color: #666666;
    line-height: 30px;
}

.login_wrap .left_login ul > li a {
    margin-right: 20px;
}

.login_wrap .left_login ul > li:last-child a {
    padding-left: 21px;
}

.login_wrap .left_login ul > li a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 12px;
    background: #ccc;
}

.login_wrap .left_login ul > li:first-child a:after {
    display: none;
}


/* input영역 */
.login_box input[type="text"],
.login_box input[type="password"] {
    width: 580px;
}

.login_box {
    width: 580px;
}

#id,
#password {
    display: block;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    border-radius: 0;
    font-size: 15px;
    color: #333;
    line-height: 60px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.check_box {
    display: block;
    position: relative;
    font-size: 16px;
    color: #666;
    line-height: 27px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn_submit {
    display: block;
    width: 580px;
    height: 60px;
    border: none;
    background: #c9ab81;
    font-size: 18px;
    color: #fff;
    line-height: 58px;
    font-family: 'EB Garamond', dotum, sans-serif;
    font-weight: 600;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.btn_submit:hover {
    border: #c9ab81;
    background: #fff;
    color: #c9ab81;
}

/* login_right  */
.login_wrap .right_login {
    flex: 1;
    position: relative;
    padding-left: 100px;
}

.right_login .login-etc {
    width: 580px;
}

.right_login .login-etc h3 {
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    line-height: 30px;
}

.right_login .login-etc p {
    margin: 15px 0 40px;
    border: none;
    font-size: 16px;
    color: #666;
    line-height: 26px;
    font-weight: 500;
}

.right_login .login-etc a {
    display: block;
    position: relative;
    border: 1px solid #aaa;
    font-size: 18px;
    color: #333;
    line-height: 58px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
    margin-bottom: 80px;
}

.right_login .login-etc .signup {
    border-color: #c9ab81;
    color: #c9ab81;
}

.right_login .login-etc .signup:hover {
    background: #c9ab81;
    color: #fff;
}

.right_login .login-etc .login_search:hover {
    background: #666666;
    color: #fff;
}

.right_login:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 502px;
    background: #ddd;
}