@charset "utf-8";
@import url(fonts.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* 공통요소 */
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-size: 16px;
    line-height: 1.267em;
    height: 100%;
    font-family: 'Noto Sans KR', 'Noto Serif KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
    letter-spacing: -0.4px;
    background: #fff;
    color: #666;
}

section h2 {
    display: block;
    position: relative;
    padding: 0 80px;
    font-size: 50px;
    color: #211e1f;
    font-weight: 500;
    letter-spacing: 6px;
    line-height: 1;
    font-family: 'EB Garamond', serif;
    text-align: center;
    max-width: 1700px;
    margin: 0 auto;
}

section span {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    color: #c9ab81;
    line-height: 30px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
}

section h2:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -0.5px;
    width: 170px;
    height: 1px;
    background: #211e1f;
}

section h2:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 25%;
    margin-top: -0.5px;
    width: 170px;
    height: 1px;
    background: #211e1f;
}

.inner {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
}

/* header, logo */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background: #fff;
}

header .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

header .logo > a {
    display: block;
    width: 126px;
    height: 50px;
    background: url(../img/logo.png) no-repeat center/contain;
}

/* gnb_area */
header .gnb_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    height: 100px;
}

.gnb_area > .gnb > li {
    display: inline-block;
}

.gnb_area > .gnb > li > a {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #333333;
    line-height: 20px;
    margin: 0 20px;
}

.gnb_area > .gnb > li > a:hover {
    color: #000;
    font-weight: 500;
}

/* gnb 메뉴/돋보기 */
.inner .btn_menu {
    position: absolute;
    top: 40%;
    left: 0;
}

.inner .btn_search {
    position: absolute;
    top: 40%;
    right: 0;
}

/* main_slider */
.main_slider {
    position: relative;
    max-width: 1800px;
    height: 100vh;
    margin: 0 auto;
}

.main_slider .mainBg {
    width: 100%;
    height: 90vh;
    background: url(../img/main_bg01.jpg) no-repeat center/cover;
}

.main_slider .mainBg.bg2 {
    background-image: url(../img/main_bg02.jpg);
}

.main_slider .mainBg.bg3 {
    background-image: url(../img/main_bg03.jpg);
}

.main_slider .main_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
    text-align: left;
}

.main_slider .main_text span {
    display: block;
    font-size: 24px;
    color: #fff;
    line-height: 34px;
    margin-bottom: 20px;
    font-family: 'EB Garamond', serif;
}

.main_slider .main_text h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 80px;
    font-family: 'Playfair Display', serif;

}

/* swiper-wrapper 배경 밑 글자들*/
.swiper-wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 100px;
    right: 0;
    background: #fff;
    z-index: 10;
    padding: 40px 50px 0 50px;
    box-sizing: border-box;
    width: 50%;
    height: 140px;
    background-color: #fff;
}

.swiper-wrapper span {
    display: block;
    color: #c9ab81;
    ;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'EB Garamond', serif;
}

.swiper-wrapper strong {
    display: block;
    line-height: 25px;
    color: #333333;
    font-family: 'EB Garamond', serif;
}

/* 메인페이지 시작 */
/* BEST ART */
#best {
    max-width: 1700px;
    margin: 0 auto;
    padding: 130px 0 150px;
}

/* 사진 5장 */
.best {
    margin-top: 100px;
}

.best img {
    width: 327px;
    height: 450px;
}

.best .best_list {
    display: flex;
    justify-content: space-between;
}

.best .best_list h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    font-family: 'EB Garamond', 'Noto Serif KR', 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;
    margin-top: 20px;
}

.best .best_list strong {
    display: block;
    color: #c9ab81;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.best .best_list p {
    color: #888;
    margin-bottom: 10px;
}

.best .best_list price {
    font-size: 36px;
    font-family: 'EB Garamond', serif;
    color: #333333;
    font-weight: 500;
}

.best .best_list price > b {
    font-size: 20px;
    margin-left: 5px;
    font-family: 'EB Garamond', 'Noto Serif KR', 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;
    font-weight: 500;
}

/* MD PICK */
#pick {
    padding: 100px 0 210px;
    margin: 0 50px;
    background: url(../img/mdpick_bg.jpg) no-repeat center/cover;
    box-sizing: border-box;
}

#pick .pick_tap ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#pick .pick_tap ul li a {
    font-weight: 500;
    font-size: 17px;
}

#pick .pick_tap ul li {
    position: relative;
    margin-right: 20px;
    padding-left: 20px;
}

#pick .pick_tap ul li:last-child::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: 14px;
    background-color: #dddddd;
}

/* MD PICK - 그림작품 */
#pick .art {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 80px 30px 700px;
    min-height: 500px;
    background: #fff;
    width: 1400px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#pick .art figure > img {
    position: absolute;
    top: 70px;
    left: -70px;
    width: 640px;
    height: 500px;
}

#pick .art .art_text {
    width: 100%;
    background: #fff;
}

#pick .art .art_text strong {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #c9ab81;
    font-family: 'Noto Serif KR', 'Noto Sans KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
    line-height: 24px;
}

#pick .art .art_text h3 {
    font-size: 36px;
    color: #333333;
    font-family: 'Noto Serif KR', 'Noto Sans KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
    font-weight: 700;
    line-height: 46px;
    word-break: keep-all;
    margin-bottom: 25px;
}

#pick .art .art_text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-left: 2px;
    max-height: 78px;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    word-break: keep-all;
    margin-bottom: 80px;
}

.btn_more {
    font-size: 18px;
    color: #333;
    border: 1px solid #c9ab81;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    font-family: 'Noto Serif KR', 'Noto Sans KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
}

#pick .photo {
    display: none;
}

#pick .photo.on {
    display: block;
}

/* NEW ART */

#new {
    max-width: 1700px;
    margin: 0 auto;
    padding: 95px 0 75px;
}

#new .new_art {
    margin-top: 100px;
}

#new .new_art .new_list img {
    width: 400px;
    height: 620px;
}

#new .new_art .new_list {
    display: flex;
    justify-content: space-around;
}

.new_art .new_list strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #c9ab81;
    line-height: 26px;
    letter-spacing: -0.7px;
    font-family: 'Noto Serif KR', sans-serif;
}

.new_art .new_list p {
    overflow: hidden;
    margin-top: 25px;
    height: 78px;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.new_art .new_list h3 {
    overflow: hidden;
    font-size: 24px;
    color: #333333;
    line-height: 34px;
    font-family: 'Noto Serif KR', 'Noto Sans KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
    font-weight: 600;
}

.more {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    padding-left: 45px;
    font-size: 18px;
    color: #333333;
    font-family: 'EB Garamond', 'Noto Sans KR', 'Noto Serif KR', 'Malgun Gothic', dotum, sans-serif;
}

.more:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 1px;
    background: #c9ab81;

}

/* DIRECT GALLERY */
#direct_gallery {
    padding: 150px 0;
    margin: 0 50px;
    background: url(../img/gallery_bg.jpg) no-repeat center/cover;
    background-attachment: fixed;
}

#direct_gallery .direct_text {
    padding: 80px 20px;
    margin: 0 auto;
    max-width: 1400px;
    width: calc(100% - 100px);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#direct_gallery .direct_text h3 {
    font-size: 40px;
    color: #211e1f;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: 'EB Garamond', 'Noto Sans KR', 'Noto Serif KR', 'Malgun Gothic', dotum, sans-serif;
}

.direct_text p {
    margin-top: 30px;
    font-size: 18px;
    color: #333333;
    line-height: 28px;
    font-family: 'Noto Serif KR', 'Noto Sans KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    word-break: keep-all;
    margin-bottom: 50px;
}

/* REVIEW */
#review {
    position: relative;
    width: 1700px;
    margin: 0 auto;
    padding: 150px 0 160px;
}

.reviews .review_list {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.reviews .review_list > li {
    width: 440px;
}

.reviews .review_list img {
    width: 440px;
    height: 370px;
}

.reviews .review_list b {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    max-width: 50%;
    font-size: 15px;
    color: #c9ab81;
    line-height: 18px;
}

.reviews .review_list b:nth-child(2) {
    padding-right: 5px;
}

/* .reviews .review_list b:after {
    position: absolute;
    content: '';
    width: 2px; height: 10px;
    background: #c9ab81;
    top: 5px; left: -5px;
   } */
.reviews .review_list p {
    overflow: hidden;
    margin-top: 10px;
    height: 50px;
    font-size: 15px;
    color: #666666;
    line-height: 26px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}