@charset "UTF-8";

/* 440px */

.sub_wrap {
    padding: 70px 0;
    box-sizing: border-box;
}

.join_intro {
    width: 390px;
}

.join_intro img {
    width: 90px;
    height: 90px;
}

.join_area .join_intro h3 {
    font-size: 16px;
}

.join_area .join_intro .signup {
    width: 390px;
    font-size: 16px;
}


@media screen and (max-width: 390px) {
    .join_intro img {
        width: 80px;
        height: 80px;
    }

    .join_area .join_intro .signup {
        width: 350px;
    }

}