@charset "UTF-8";

/* 440px */

.sub_wrap {
    padding: 70px 0;
    box-sizing: border-box;
}

.subject {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.subject .subject_list {
    position: relative;
    top: 0;
}

.subject .subject_list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}

.subject .subject_list h3 {
    height: 60px;
}

.subject_list ul > li {
    display: flex;
    margin-bottom: 10px;
    height: 30px;
}

.subject_list ul > li a span {
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    padding: 0 5px;
    box-sizing: border-box;
    border: none;
    font-family: 'EB Garamond', 'Noto Serif KR', 'Noto Sans KR', 'Malgun Gothic', dotum, sans-serif;
}

.subject_list ul > li a span strong {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 300;
}

/* sub_artist_cont */
.sub_subject_cont {
    width: 100%;
    padding: 0;
    margin-bottom: 160px;
}

.sub_subject_cont p {
    font-size: 14px;
    margin-top: 25px;
}

.sub_subject_cont ul {
    justify-content: space-between;
}

.sub_subject_cont ul > li img {
    width: 190px;
    height: 190px;
}

.sub_subject_cont ul > li h3 {
    font-size: 18px;
    margin: 10px 0 10px;
}

.sub_subject_cont ul > li span {
    font-size: 12px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    margin-bottom: 0;
}

.sub_subject_cont ul > li p {
    font-size: 12px;
    margin-top: 0;
}

.sub_subject_cont ul > li price {
    font-size: 26px;
    padding-top: 10px;
}

.sub_subject_cont ul > li {
    margin-right: 0;
}

.sub_subject_cont ul > li:nth-child(n+1) {
    margin-right: 0;
}

.sub_subject_cont ul > li:nth-child(3n) {
    margin-right: 0;
}


/* best_hide */
.sub_subject_cont .img_box .best_hide {
    top: 10px;
    left: -100%;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 170px;
    padding: 5px;
    box-sizing: border-box;
}

/* best_hide */
.sub_subject_cont .img_box .best_hide {
    top: 10px;
    left: -100%;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 170px;
    padding: 5px;
    box-sizing: border-box;
}

/* hover 시 숨겨진 요소 표시 */
.sub_subject_cont .subject_list .img_box:hover .best_hide {
    opacity: 1;
    left: 10px;
}


/* 390px */
@media screen and (max-width: 390px) {
    .subject .subject_list h3 {
        width: 350px;
    }

    .subject ul {
        width: 350px;
    }

    .sub_subject_cont ul > li img {
        width: 160px;
        height: 160px;
    }

    /* best_hide */
    .sub_subject_cont .img_box .best_hide {
        top: 10px;
        left: -100%;
        bottom: 10px;
        right: 10px;
        width: 140px;
        height: 140px;
    }

    .sub_subject_cont .img_box .btn_more {
        font-size: 14px;
        padding: 5px 10px;
        box-sizing: border-box;
    }

}